/*  COLOR PALETTE
    BACKGROUND COLOR    #B8D8FF
    CALUCULATOR COLOR   #E8E8E8
    SOLAR COLOR         #360202
    DISPLAY COLOR       #B2B9B7
    OPERATOR COLOR      #ED9121
    TOP COLOR           #2B2B2B*/

    @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


body {
    font-family: 'Orbitron', sans-serif;
    width: 100vw;
    background:url(./images/desk1.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}

.calculator {
    position: relative;
    width:max-content;
    overflow: hidden;
    background-color: #E8E8E8;
    box-shadow: inset 0.5px 0px 12px 2px;
    border-radius: 5%;
    padding: 5px 10px 30px 10px;
    margin: auto; 
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px 5px 0px;
    gap: 30px; 
}

#name {
    font-size: larger;
    font-weight: bold;
}

#solar {
    width: 14em;
    border: black solid 2px;
    border-radius: 5%;
    background-color: #360202;
    padding: 25px 0px;
}

#model1 {
    font-size: x-small;
}

.display {
    width: 500px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #b2b9b7;
    font-family: 'Orbitron', sans-serif;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    box-shadow: inset 2px 2px 10px 0px;
    border: 4px solid #4D4648;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 5px;
}

.previous {
    font-size: 25px;
}

.current {
    font-size: 50px;
}
hr {
    height: 3px ;
    background-color: #6e6e6e;
}

.buttons-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 115px);
    grid-template-rows: minmax(auto, 80px) repeat(4, 80px);
    gap: 8px;
}

.number:nth-child(16){
    grid-column: span 2;
}

button {
    margin: 1px;
    border-radius: 5%;
    font-weight: initial;
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    color: linen;
    background-color: #6e6e6e ;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px #656565;
}

button:active {
    background-color: #b2b9b7;
    
}

.operator {
  background-color: #ED9121;
}

.top {
    background-color: #2b2b2b;
}

#bs {
    grid-column: span 2;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 12px;
    font-family: 'Rock Salt', sans-serif;
    text-align: center;
    color: black;
    font-weight:bolder;
}

a {
  text-decoration: none;
  color: #cc0000;
}
 
.footerImg{
    padding: 10px 0px;
    align-items: center;
}
